{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-8">
                            <h4>{{ message.subject }}</h4>
                        </div>
                        <div class="col-12 col-lg-4 text-end text-nowrap">
                            {% with message.sender as user %}
                            {% include 'user/user_in_heading.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ message.body|linebreaksbr }}
                </div>
            </div>
        </div>
        {% if message.related %}
            <div class="col">
                {% if message.type|slice:'5' == 'Offer' %}
                    {% with message.related as offer %}
                    {% include 'item/offer_item_card.html' %}
                    {% endwith %}
                {% endif %}
                {% if message.type == 'Offer_accepted' %}
                    <a href="{% url 'item:checkout' message.related.id %}" class="btn btn-primary">Ganga frá kaupum</a>
                {% elif message.type == 'Offer_rejected' %}
                    <button class="btn btn-primary" type="button">Bjóða aftur</button>
                {% elif message.type == 'Offer_new' %}
                    {% if message.related.rejected %}
                        <div class="alert alert-info">Þessu tilboði hefur verið hafnað.</div>
                    {% elif message.related.accepted %}
                        <div class="alert alert-success">Þetta tilboð hefur verið samþykkt</div>
                    {% else %}
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:accept_offer' message.related.id %}"
                            data-confirm-text="Staðfesta tilboð í {{ message.related.item.name }} fyrir upphæð {{ message.related.amount }}"
                    >
                        Samþykkja tilboð
                    </button>
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:reject_offer' message.related.id %}"
                            data-confirm-text="Hafna tilboði í {{ message.related.item.name }} fyrir upphæð {{ message.related.amount }}"
                    >
                        Hafna tilboði
                    </button>
                    {% endif %}
                {% elif message.type == 'Sale_completed' %}
                    Sala kláruð
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if message.related.image_url %}

        <div class="d-grid d-md-block" style="margin-bottom: 10px">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Contact">Svara</button>
        </div>
        <div class="modal fade" id="Contact" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Senda skilaboð</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{% url 'messaging:send' %}">
                        <div class="modal-body">
                            {% csrf_token %}
                             <label for="receiver" class="form-label">Viðtakandi:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" class="form-control" name="receiver" value="{{ message.sender.username }}" aria-label="username" aria-describedby="basic-addon1" readonly>
                            </div>
                            <label for="subject" class="form-label">Efni:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="subject" value="Svar vegna fyrirspurnar um vöru: {{ message.related.name }}, {{ message.related.condition.name }}" aria-label="subject" aria-describedby="basic-addon2" readonly>
                            </div>
                            <label for="message-body" class="form-label">Skilaboð:</label>
                            <div class="input-group mb-3">
                                <textarea name="body" class="form-control" placeholder="Meginmál" aria-label="message" aria-describedby="basic-addon3"></textarea>
                                <input type="hidden" name="item_id" id="hiddenInput" value="{{ message.related_object_id }}" />
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hætta við</button>
                            <div>
                                <button type="submit" class="btn btn-primary mr-auto">Senda</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img alt="{{ message.related.image_url }}-image" class="img-thumbnail" src="{{ message.related.image_url }}">

    {% elif message.related.item.image_url%}

        <div class="d-grid d-md-block" style="margin-bottom: 10px">
            {% if message.type == "Offer_new" and not message.related.rejected and not message.related.accepted %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offer">Samþykkja tilboð</button>
            {% elif message.type == "Offer_accepted" %}
                <a href="{% url 'item:checkout' message.related.id %}" class="btn btn-primary">Ganga frá kaupum</a>
            {% endif %}

        </div>
        <div class="modal fade" id="offer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Staðfesta samþykki</h5>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hætta við</button>
                        <div>
                            <form method="POST" action="{% url 'item:accept_offer' message.related_object_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary mr-auto">Staðfesta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img alt="{{ message.related.image_url }}-image" class="img-thumbnail" src="{{ message.related.item.image_url }}">

    {% endif %}

{% endblock %}