{% extends 'base.html' %}
{% block content %}
    <h2>{{ message.subject }}</h2>
    <p>{{ message.body }}</p>

    {% if message.related.image_url %}

        <div class="d-grid d-md-block" style="margin-bottom: 10px">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Contact">Svara</button>
        </div>
        <div class="modal fade" id="Contact" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Senda skilaboð</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{% url 'messaging:send' %}">
                        <div class="modal-body">
                            {% csrf_token %}
                             <label for="receiver" class="form-label">Viðtakandi:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" class="form-control" name="receiver" value="{{ message.sender.username }}" aria-label="username" aria-describedby="basic-addon1" readonly>
                            </div>
                            <label for="subject" class="form-label">Efni:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="subject" value="Svar vegna fyrirspurnar um vöru: {{ message.related.name }}, {{ message.related.condition.name }}" aria-label="subject" aria-describedby="basic-addon2" readonly>
                            </div>
                            <label for="message-body" class="form-label">Skilaboð:</label>
                            <div class="input-group mb-3">
                                <textarea name="body" class="form-control" placeholder="Meginmál" aria-label="message" aria-describedby="basic-addon3"></textarea>
                                <input type="hidden" name="item_id" id="hiddenInput" value="{{ message.related_object_id }}" />
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hætta við</button>
                            <div>
                                <button type="submit" class="btn btn-primary mr-auto">Senda</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img alt="{{ message.related.image_url }}-image" class="img-thumbnail" src="{{ message.related.image_url }}">

    {% elif message.related.item.image_url%}
        {% if not message.related.accepted %}
        <div class="d-grid d-md-block" style="margin-bottom: 10px">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offer">Samþykkja tilboð</button>
        </div>
        <div class="modal fade" id="offer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Staðfesta samþykki</h5>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hætta við</button>
                        <div>
                            <form method="POST" action="{% url 'item:accept_offer' message.related_object_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary mr-auto">Staðfesta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <img alt="{{ message.related.image_url }}-image" class="img-thumbnail" src="{{ message.related.item.image_url }}">

    {% elif message.related.item.image_url %}

    {% elif message.related.item.image_url %}

    {% elif message.related.item.image_url %}

    {% elif message.related.item.image_url %}

    {% endif %}

{% endblock %}