{% extends 'base.html' %}
{% load rating %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card" id="mastercard">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-8">
                            <h5>{{ message.subject }}</h5>
                        </div>
                        <div class="col-12 col-xl-4 text-end text-nowrap">
                        {% with message.sender as user %}
                        <a class="text-decoration-none" href="{% url 'user:profile' user.id %}">
                            <img src="{{ user.user_profile.image_url }}" alt="..." class="img profile-img" style="width:56px">
                            {% rating_tag user.user_profile.avg_rating %}
                        </a>
                        {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ message.body|linebreaksbr }}
                </div>
            </div>
        </div>
        {% if message.related %}
            <div class="col-4">
                {% if message.type|slice:'5' == 'Offer' %}
                    {% with message.related as offer %}
                    {% include 'item/offer_item_card.html' %}
                    {% endwith %}
                {% endif %}
                {% if message.type == 'Offer_accepted' %}
                    <a href="{% url 'item:checkout' message.related.id %}" class="btn btn-primary">Ganga frá kaupum</a>
                {% elif message.type == 'Offer_rejected' %}
                    {% if not message.related.item.sold_at %}
                        <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#offer-modal"
                                data-item-id="{{ message.related.item.id }}"
                                data-item-name="{{ message.related.item.name }}"
                        >Bjóða aftur</button>
                    {% endif %}
                    <a href="{% url 'item:get_item' message.related.item.id %}" class="btn btn-primary">Skoða vöru</a>
                {% elif message.type == 'Offer_new' %}
                    {% if message.related.rejected %}
                        <div class="alert alert-info">Þessu tilboði hefur verið hafnað.</div>
                    {% elif message.related.accepted %}
                        <div class="alert alert-success">Þetta tilboð hefur verið samþykkt</div>
                    {% else %}
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:accept_offer' message.related.id %}"
                            data-confirm-text="Staðfesta tilboð í {{ message.related.item.name }} fyrir upphæð {{ message.related.amount }}"
                    >
                        Samþykkja tilboð
                    </button>
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:reject_offer' message.related.id %}"
                            data-confirm-text="Hafna tilboði í {{ message.related.item.name }} fyrir upphæð {{ message.related.amount }}"
                    >
                        Hafna tilboði
                    </button>
                    {% endif %}
                {% elif message.type == 'Sale_completed' %}
                    {% with message.related as sale %}
                    {% include 'item/sale_card.html' %}
                    {% endwith %}
                {% elif message.type == 'Item_inquiry' %}
                    {% with message.related as item %}
                    {% include 'item/item_card.html' %}
                    {% endwith %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}