.unread {
    font-weight: bold;
}
.navbar-brand img{
    height: 60px;
}
.alert .icon {
  font-size:150%;
  margin-right:0.5em;
}
.carousel-item img {
  object-fit: cover;
  top: 0;
  left: 0;
  max-height: 500px;
}
ul.errorlist {
  list-style: none;
  padding:0;
  margin:0;
}
@media  (max-width: 992px) {
    .nav-item{
        padding: 0;
    }
}