@media(min-width:769px) {
  #the-container {
    min-height:800px;
  }
}
.unread {
    font-weight: bold;
}
.navbar-brand img{
    height: 60px;
}
.dropdown-item {
  font-size: 115%;
}
.alert .icon {
  font-size:150%;
  margin-right:0.5em;
}
.carousel-item img {
  object-fit: cover;
  top: 0;
  left: 0;
  max-height: 500px;
}
ul.errorlist {
  list-style: none;
  padding:0;
  margin:0;
}
.hunger-rating {
  height: 32px !important;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.profile-img {
  object-fit: fill;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}
.item-img {
  max-height: 800px;
  max-width: 800px;
}

@media  (max-width: 992px) {
    .nav-item{
        padding: 0;
    }
}

.dropdown-toggle-profile::after {
  content: none;
}
.dropdown-menu {
  background-color: #262E3A;
}

.catalog-image-views:hover{
  transform: scale(1.5);
  position: relative;
  z-index: 99;
}

.catalog-image-views {
  border: none !important;
  width: 18rem;
}

.card-img {
  width: 100%;
  height: 10vw;
  object-fit: cover !important;
  object-position: center top;
}
.card-img-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.card-img-overlay:hover {
  background: rgba(0, 0, 0, 0);
}

.table.inbox a {
  text-decoration: none;
  color: inherit;
}