@media(min-width:769px) {
  #the-container {
    min-height:800px;
  }
}
.unread {
    font-weight: bold;
}
.navbar-brand img{
    height: 60px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}
.dropdown-item {
  font-size: 115%;
}
.alert .icon {
  font-size:150%;
  margin-right:0.5em;
}
.carousel-item img {
  object-fit: cover;
  max-height: 600px;
  min-height: 600px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 4rem;
}
.carousel-control-prev:hover {
  background: rgb(2,0,36);
  background: linear-gradient(-90deg, rgba(2,0,36,0) 5%, rgba(38,46,58,.8) 100%);
}
.carousel-control-next:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 5%, rgba(38,46,58,.8) 100%);
}
.carousel-caption {
  background-color: rgba(38, 46, 58, .5);
}
ul.errorlist {
  list-style: none;
  padding:0;
  margin:0;
}
.dropdown-accordion {
  display: inline-block;
  white-space: nowrap;
}
.hunger-rating {
  height: 32px !important;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.hunger-profile {
  height: 1.8rem !important;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.profile-img-lg {
  object-fit: cover;
  object-position: top;
  height: 256px;
  width: 256px;
  border: 6px solid #262E3A;
  position: absolute;
  top: 200px;
}
.profile-banner {
  .card-img-top {
    height: 300px;
    object-fit: cover;
    object-position: center top;
  }
}
.card-second-body h3 {
  letter-spacing: 1px;
}
.card-second-body {
  margin-left: 256px;
  margin-top: 0;
}
.btn-default {
  line-height: .8 !important;
}
.profile-img {
  object-fit: cover;
  object-position: top;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}
.accordion-button {
  background-color: $dark !important;
  text-decoration: none !important;
  color: #dee2e6 !important;
  box-shadow: none !important;
}
.accordion-button::after {
    background-image: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}
.accordion-button:hover {
  background-color: #454c56 !important;
  text-decoration: none !important;
}
.accordion-body {
  background-color: #262E3A !important;
  border: none !important;
}
.accordion-body a {
  text-decoration: none !important;
  color: #dee2e6 !important;
  font-size: 115%;
}
.accordion-body:hover {
  background-color: #454c56 !important;
}

.item-img {
  max-height: 800px;
  max-width: 800px;
}
@media (max-width: 1199.98px) {
  .img-3 {
    display: none !important;
  }
}
@media  (max-width: 991.98px) {
  .nav-item {
    padding: 0;
  }
  .search-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .search-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nav-item a {
    padding-right: 0 !important;
    padding-left: .5rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .profile-container {
    width: 250px !important; /* Can be in percentage also. */
    height: auto !important;
    margin: 0 auto !important;
    position: relative !important;
  }
  .dropdown-accordion {
    margin: auto !important;
  }
}

.dropdown-toggle-profile::after {
  content: none;
}
.dropdown-menu {
  background-color: #262E3A;
}

.catalog-image-views:hover{
  transform: scale(1.5);
  position: relative;
  z-index: 99;
}

.catalog-image-views {
  border: none !important;
  width: 18rem;
}

.card-img {
  width: 100%;
  height: 10vw;
  object-fit: cover !important;
  object-position: center top;
}
.card-img-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.card-img-overlay:hover {
  background: rgba(0, 0, 0, 0);
}

.table.inbox a {
  text-decoration: none;
  color: inherit;
}

#create-contact-form.hidden {
  display:none;
}
.hunger-container {
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  .hunger-rating {
    height:64px !important;
  }
  .hunger-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
  }
  .hunger-overlay-left {
    left: 0;
  }
  .hunger-overlay-right {
    right:0;
  }
}
footer .footer-icon {
  margin: 0.25rem;
  padding: 0 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: whitesmoke;
}
.item-card {
  .card-img-top {
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
}