{% extends 'base_card.html ' %}
{% block preheader %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
{% endblock %}
{% block postheader %}
    </form>
{% endblock %}
{% block card_header %}{% block form_header %}{% endblock %}{% endblock %}
{% block card_body %}
    {% include 'form.html' %}
{% endblock %}
{% block card_footer %}
    <input type="submit" class="btn btn-primary" value="{% block form_submit %}{% endblock %}">
    <button onclick="history.back()" type="button" class="btn btn-primary float-end">Til baka</button>
{% endblock %}