{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-10 mx-auto">
        <div id="mastercard" class="card mb-3">
            {% block preheader %}{% endblock %}
            <div class="card-header">
                <h4>{% block card_header %}{% endblock %}</h4>
            </div>
            <div class="card-body">
                {% block card_body %}{% endblock %}
            </div>
            <div class="card-footer">
                {% block card_footer %}{% endblock %}
            </div>
            {% block postcard %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}