{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fire Sale</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container my-4" id="the-container">
        {% include 'messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}

    <div class="modal fade" id="confirm-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Staðfesting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="confirm-modal-form" method="GET" action="">
                    {% csrf_token %}
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hætta við</button>
                        <button type="submit" class="btn btn-primary">Staðfesta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>