<footer class="footer-bs text-center text-light" style="background-color: #262E3A">
   <div class="row">
  <!-- Grid container -->
      <div class="container">
        <!-- Section: Social media -->
        <section class="">
          <!-- Facebook -->
          <a class="m-1 text-decoration-none px-2" href="#">
              <i class="bi bi-facebook" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>

          <!-- Twitter -->
          <a class="m- text-decoration-none px-2" href="#">
              <i class="bi bi-twitter" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>

          <!-- Google -->
          <a class="m-1 text-decoration-none px-2" href="#">
              <i class="bi bi-google" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>

          <!-- Instagram -->
          <a class="m-1 text-decoration-none px-2" href="#">
              <i class="bi bi-instagram" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>

          <!-- Linkedin -->
          <a class="m-1 text-decoration-none px-2" href="#">
              <i class="bi bi-snapchat" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>

          <!-- Github -->
          <a class="m-1 text-decoration-none px-2" href="#">
              <i class="bi bi-github" style="font-size: 1.25rem; color: whitesmoke;"></i>
          </a>
        </section>
        <!-- Section: Social media -->
      </div>
      <div class="text-center p-1">
        © 2022 Copyrigt:
        <a class="text-light" href="#">Cool Guys on Coffee co.</a>
      </div>
  </div>
</footer>