<footer class="footer-bs text-center bg-dark text-light">
  <div class="container">
    <section class="">
      <a class="footer-icon" href="#">
          <i class="bi bi-facebook"></i>
      </a>
      <a class="footer-icon" href="#">
          <i class="bi bi-twitter"></i>
      </a>
      <a class="footer-icon" href="#">
          <i class="bi bi-google"></i>
      </a>
      <a class="footer-icon" href="#">
          <i class="bi bi-instagram"></i>
      </a>
      <a class="footer-icon" href="#">
          <i class="bi bi-snapchat"></i>
        </a>
      <a class="footer-icon" href="#">
          <i class="bi bi-github"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-1">
    © 2022 Copyrigt:
    <a class="text-light" href="#">Cool Guys on Coffee co.</a>
  </div>
</footer>