<footer class="footer-bs text-center bg-dark text-light">
  <div class="container">
      <a class="footer-icon" href="https://www.facebook.com/Dominos.is" target="_blank">
          <i class="bi bi-facebook"></i>
      </a>
      <a class="footer-icon" href="https://twitter.com/dpisl" target="_blank">
          <i class="bi bi-twitter"></i>
      </a>
      <a class="footer-icon" href="https://www.instagram.com/dominos_iceland" target="_blank">
          <i class="bi bi-instagram"></i>
      </a>
      <a class="footer-icon" href="https://www.tiktok.com/@dominos_iceland?lang=en" target="_blank">
          <i class="bi bi-tiktok"></i>
        </a>
      <a class="footer-icon" href="https://github.com/BaldurThor/T-220-VLN2-software" target="_blank">
          <i class="bi bi-github"></i>
      </a>
  </div>
  <div class="text-center p-1">
    © 2022 Copyrigt:
    <a class="text-light" href="#">Cool Guys on Coffee co.</a>
  </div>
</footer>