{% load i18n %}
{% load bootstrapify_field %}
{% if form.non_field_errors %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div class="icon">
        <i class="bi bi-exclamation-triangle"></i>
    </div>
    <div>
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}
{% for field in form %}
<div class="mb-3">
    <label for="{{ field.id_for_label }}" class="form-label">{% translate field.label %}</label>
    {{ field|bootstrapify_field }}
    <div class="invalid-feedback">
        {{ field.errors }}
    </div>
</div>
{% endfor %}