{% load static %}
<div class="profile-container">
    <div class="dropdown me-auto">
        <a href="{% url 'messaging:get_all_messages' %}" class="btn btn-default p-2 position-relative">
            <i class="bi bi-inbox" style="font-size: 2rem; color: whitesmoke;"></i>
            <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger">
                {{ user_profile.get_unread_messages }}
            </span>
        </a>
        <button  class="btn btn-default dropdown-toggle-profile" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

            <img src="{% if user_profile %}{{ user_profile.image_url }}{% else %}{% static 'images/generic-profile.png' %}{% endif %}" alt="profile pic" class="img profile-img" style="width:56px">
            <img src="{% static 'images/hunger-bar-full.png' %}" alt="..." class="img hunger-rating">
            <span class="h4 text-light align-middle">{% if user_profile %}{{ user_profile.get_rating }}{% endif %}</span>
        </button>
        <a href="{% url 'user:logout' %}" class="btn btn-default p-0">
            <i class="bi bi-box-arrow-right" style="font-size: 2rem; color: whitesmoke;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
        <li><div class="dropdown-item">
            <a href="{% url 'user:profile' %}"><img src="{% if user_profile %}{{ user_profile.image_url }}{% else %}{% static 'images/generic-profile.png' %}{% endif %}" alt="Generic profile pic" class="img profile-img"></a>
            {% if user_profile %}
            {% for _ in ''|center:user_profile.get_empty_stars %}
                <img src="{% static 'images/hunger-bar-empty.png' %}" alt="..." class="img hunger-rating">
            {% endfor %}
            {% if user_profile.get_half_stars %}
                <img src="{% static 'images/hunger-bar-half.png' %}" alt="..." class="img hunger-rating">
            {% endif %}
            {% for _ in ''|center:user_profile.get_full_stars %}
                <img src="{% static 'images/hunger-bar-full.png' %}" alt="..." class="img hunger-rating">
            {% endfor %}
            {% endif %}

        </div></li>
            <li><a class="dropdown-item" href="{% url 'user:profile' %}"><i class="bi bi-person-lines-fill pe-2"></i>Skoða aðgang</a></li>
            <li><a class="dropdown-item" href="{% url 'messaging:get_all_messages' %}"><i class="bi bi-inbox pe-2"></i>Pósthólf</a></li>
            <li><a class="dropdown-item" href="/items/get_all_offers"><i class="bi bi-cash-coin pe-2"></i>Mín viðskipti</a></li>
            <li><a class="dropdown-item text-end" href="{% url 'user:logout' %}"><i class="bi bi-box-arrow-right pe-2"></i>Útskrá</a></li>
        </ul>
    </div>
</div>



{#<a href="{% url 'user:logout' %}" class="btn btn-primary">#}
{#    <div class="container-hunger">#}
{#    <div class="row">#}
{#        <div class="col-md-4 col-xs-4">#}
{#            <div class="thumbnail">#}
{#                <div class="picture1">#}
{#                    <img class="img-responsive" src="{% static 'images/hunger-bar-half.png' %}" alt="...">#}
{#                </div>#}
{#                <div class="picture2">#}
{#                    <img class="img-responsive" src="{% static 'images/hunger-bar-full.png' %}" alt="...">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#</a>#}

{# user_profile #}
