{% load static %}
{% load rating %}
<div class="profile-container">
    <div class="dropdown dropdown-accordion me-auto">
        <a href="{% url 'messaging:get_all_messages' %}" class="btn btn-default px-2 py-0 position-relative">
            <i class="bi bi-inbox" style="font-size: 2rem; color: #dee2e6;"></i>
            {% if user_profile.get_unread_messages == 0 %}
            {% else %}
                <span class="position-absolute top-60 start-80 translate-middle badge rounded-pill bg-danger">
                    {{ user_profile.get_unread_messages }}
                </span>
            {% endif %}
        </a>
        <button  class="btn btn-default dropdown-toggle-profile" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

            <img src="{% if user_profile %}{{ user_profile.image_url }}{% else %}{% static 'images/generic-profile.png' %}{% endif %}" alt="profile pic" class="img profile-img" style="width:56px">
            <img src="{% static 'images/hunger-bar-full.png' %}" alt="..." class="img hunger-rating">
            <span class="h4 text-light align-middle">{% if user_profile %}{% get_rating user_profile.avg_rating %}{% endif %}</span>
        </button>
        <a href="{% url 'user:logout' %}" class="btn btn-default p-0">
            <i class="bi bi-box-arrow-right" style="font-size: 2rem; color: #dee2e6;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
        <li><div class="dropdown-item">
            <a href="{% url 'user:profile' %}"><img src="{% if user_profile %}{{ user_profile.image_url }}{% else %}{% static 'images/generic-profile.png' %}{% endif %}" alt="Generic profile pic" class="img profile-img"></a>
            {% rating_tag user_profile.avg_rating %}

        </div></li>
            <li><a class="dropdown-item" href="{% url 'user:profile' %}"><i class="bi bi-person-lines-fill pe-2"></i>Skoða aðgang</a></li>
            <li><a class="dropdown-item" href="{% url 'messaging:get_all_messages' %}"><i class="bi bi-inbox pe-2"></i>Pósthólf</a></li>
            <li><div class="accordion accordion-default accordion-flush" id="navigation-transactions-accordion">
                    <div class="accordion-item">
                        <p class="accordion-header" id="flush-headingOne">
                            <a class="dropdown-item accordion-button collapsed text-decoration-none rounded-0 py-1 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <i class="bi bi-cash-coin pe-2"></i>Mín viðskipti
                            </a>
                        </p>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body py-1 px-3">
                                <a href="{% url 'item:get_all_offers' %}"><i class="bi bi-person-lines-fill pe-2"></i>Boð</a>
                            </div>
                            <div class="accordion-body py-1 px-3">
                                <a href="{% url 'item:get_all_sales' %}"><i class="bi bi-inbox pe-2"></i>Kaup og sölur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="dropdown-item text-end" href="{% url 'user:logout' %}"><i class="bi bi-box-arrow-right pe-2"></i>Útskrá</a></li>
        </ul>
    </div>
</div>