{% extends 'base.html' %}
{% block content %}
    <div>
        <button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters">
        Síur
        </button>
        <div class="d-inline-block text-muted mx-3">
            {% include 'item/filter_summary.html' %}
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="filters" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel">Sía og raða</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include 'item/filter.html' %}
        </div>
    </div>
    {% if not items %}
        <h3>Engar vörur fundust.</h3>
    {% endif %}
    <div class="row g-4">
        {% for item in items %}
            <div class="col col-12 col-md-6 col-lg-3">
                {% include 'item/item_card.html' %}
            </div>
        {% endfor %}
    </div>
    {% include 'item/pagination.html' %}

{% endblock %}
