{% extends 'base.html' %}
{% block content %}

    <form method="GET">
        {% for category in categories %}
            <input type="checkbox" name="cat" value="{{ category.id }}">
            <label for="cat-{{ category.id }}">{{ category.name }}</label>
        {% endfor %}
        <label for="conditions">Ástand</label>
        <select name="conditions" id="conditions">
            <option value="None">----------</option>
            {% for condition in conditions %}
                <option value="{{ condition.id }}">{{ condition.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Sýa</button>
    </form>
    {% if not items %}
        <h3>Engar vörur fundust.</h3>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-auto g-4">
        {% for item in items %}
            <div class="col">
                <div class="card text-center h-100" style="width: 18rem;">
                    <img src="{{ item.image_url }}" class="card-img-top" style=" height: 15rem; object-fit: cover; object-position: right top;" alt="{{ item.name }}-image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text ">{{ item.description | truncatechars:30 }}</p>
                        <p class="card-text text-muted">Ástand: {{ item.condition.name }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="/items/{{ item.id }}" class="btn btn-primary">Nánari upplýsingar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
