<form method="GET">
    {% if request.GET.search %}
        <input type="hidden" name="search" value="{{ request.GET.search }}">
    {% endif %}
    <div class="mb-3">
        <label for="filter_categories">Vöruflokkar</label>
        {% for category in categories %}
            <div class="form-check">
                <input class="form-check-input" id="filter-categories-{{ category.id }}" name="categories" type="checkbox" value="{{ category.id }}">
                <label class="form-check-label" for="filter-categories-{{ category.id }}">{{ category.name }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="filter_condition">Ástand</label>
        {% for condition in conditions %}
            <div class="form-check">
                <input class="form-check-input" id="filter-condition-{{ condition.id }}" name="condition" type="radio" value="{{ condition.id }}">
                <label class="form-check-label" for="filter-condition-{{ condition.id }}">{{ condition.name }}</label>
            </div>
        {% endfor %}
    </div>
<button class="btn btn-primary mt-3" type="submit">Sía</button>
</form>