{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if item.sold_at %}
        <div class="alert alert-primary" role="alert">
            Þessi vara er seld!
        </div>
    {% elif item.is_deleted %}
        <div class="alert alert-primary" role="alert">
            Þessi vara er ekki lengur til sölu!
        </div>
    {% endif %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col text-nowrap">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-subtitle mb-2 text-muted">{{ item.condition.name }}</p>
                    </div>
                <div class="col text-end text-nowrap">
                    {% with item.seller as user %}
                    {% include 'user/user_in_heading.html' %}
                    {% endwith %}
                    </div>
                </div>
        </div>
        {% if item.banner %}
            <img src="{{ item.banner.url }}" class="card-img-bottom mb-3" alt="{{ item.name }}-image">
        {% elif item.image %}
            <img src="{{ item.image.url }}" class="card-img-bottom mb-3" alt="{{ item.name }}-image" style="max-height: 800px; object-fit: cover; object-position: center;">
        {% endif %}
        <div class="card-body px-0 pt-0">
            {% if offer %}
                <h5 class="p-2 pb-1">Hæðsta boð: {{ offer.amount }} kr.</h5>
            {% endif %}
            <p class="card-text mx-3">{{ item.description|linebreaksbr }}
            <button class="btn btn-primary py-1 px-2 float-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <i class="bi bi-image-fill" style="font-size: 1.25rem"></i>
              </button></p>
            {% if not item.sold_at and not item.is_deleted %}
                <div class="row">
                    <div class="col text-center mx-3">
                        </div>
                    </div>
            {% endif %}
    <div>
      <div class="collapse text-center" id="collapseWidthExample">
            {% if item.image %}
                <div>
                <img src="{{ item.image.url }}" alt="{{ image.alt }}" class="img-fluid my-3">
                </div>
            {% endif %}
            {% for image in item.images.all %}
                <div>
                <img src="{{ image.image.url }}" alt="{{ image.alt }}" class="img-fluid my-3">
                </div>
            {% endfor %}
      </div>
    </div>
        </div>
        <div class="card-footer text-center">

                        {% if user == item.seller %}
                            <button
                                    class="btn btn-primary"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirm-modal"
                                    data-confirm-method="POST"
                                    data-confirm-action="{% url 'item:delete_item' item.id %}"
                                    data-confirm-text="Ertu viss um að þú viljir eyða vörunni?"
                            >
                                Eyða vöru
                            </button>
                        {% elif not item.sold_at and request.user.is_authenticated %}
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#offer-modal"
                                    data-item-id="{{ item.id }}"
                                    data-item-name="{{ item.name }}"
                            >Bjóða í vöru</button>
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#message-modal"
                                    data-item-id="{{ item.id }}"
                                    data-readonly
                                    data-receiver="{{ item.seller.username }}"
                                    data-subject="Fyrirspurn um vöru: {{ item.name }}"
                            >Fyrirspurn</button>
                        {% endif %}
        </div>
    </div>
    {% if similar_items %}
        <h3>Sambærilegir hlutir</h3>
        <div class="row">
            {% for item in similar_items %}
                <div class="col">
                {% include 'item/item_card.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}