{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <h2>Vörur sem þú hefur boðið í</h2>
    <div class="row row-cols-1 row-cols-md-auto g-4">
        {% if not own_offers %}
            <div class="col">
                <div class="card text-center" style="width: 18rem; min-height: 20rem; background-color: #454c56;">
                    <div class="card-body">
                        <h4 class="card-title" style="color: ghostwhite">Þú hefur ekki boðið í neinar vörur</h4>
                    </div>
                </div>
            </div>
        {% else %}
        {% for own_offer in own_offers %}
            <div class="col">
                <div class="card text-center h-100" style="width: 18rem;  min-height: 26rem;">
                    <img src="{{ own_offer.item.image_url }}" class="card-img-top mh-100" alt="{{ own_offer.item.name }}-image" style=" height: 15rem; object-fit: cover; object-position: right top;">
                    <div class="card-body">
                        <h4 class="card-title">{{ own_offer.item.name }}</h4>
                        <p class="card-text">Upphæð: {{ own_offer.amount }}</p>
                        <p class="card-text">Seljandi: {{ own_offer.item.seller }}</p>
                        </div>
                    <div class="card-footer">
                        {% if own_offer.accepted %}
                            <a href="checkout/{{ own_offer.id }}" class="btn btn-primary">Ganga frá kaupum</a>
                        {% else %}
                            <a href="{{ own_offer.item.id }}" class="btn btn-primary">Skoða nánar</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% endif %}
        </div>
    <h2 class="mt-4">Boð í þínar vörur</h2>
    <div class="row row-cols-1 row-cols-md-auto g-4">
        {% if not other_offers %}
            <div class="col">
                <div class="card text-center h-100" style="width: 18rem;  min-height: 20rem; background-color: #454c56;">
                    <div class="card-body">
                        <h4 class="card-title" style="color: ghostwhite">Þú hefur ekki fengið boð í neinar vörur</h4>
                    </div>
                </div>
            </div>
        {% else %}
        {% for other_offer in other_offers %}
            <div class="col">
                <div class="card text-center h-100" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ other_offer.item.image_url }}" class="card-img-top mh-100" alt="{{ other_offer.item.name }}-image" style=" height: 15rem; object-fit: cover; object-position: right top;">
                    <div class="card-body">
                        <h4 class="card-title">{{ other_offer.item.name }}</h4>
                        <p class="card-text">Upphæð: {{ other_offer.amount }}</p>
                        <p class="card-text">Kaupandi: {{ other_offer.user }}</p>
                        </div>
                    <div class="card-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:accept_offer' other_offer.id %}"
                            data-confirm-text="Staðfesta tilboð í {{ other_offer.item.name }} fyrir upphæð: {{ other_offer.amount | intcomma }} kr."
                        >
                        Samþykkja tilboð
                        </button>
                        <button
                            type="button"
                            class="btn btn-secondary mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-modal"
                            data-confirm-method="POST"
                            data-confirm-action="{% url 'item:reject_offer' other_offer.id %}"
                            data-confirm-text="Hafna tilboði í {{ other_offer.item.name }} fyrir upphæð: {{ other_offer.amount | intcomma }} kr."
                        >
                        Hafna tilboði
                        </button>
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% endif %}
        </div>
{% endblock %}