<div class="item-card card text-center h-100">
    {% if item.image %}
        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}-image">
    {% elif item.images.all %}
        {% with item.images.all|first as image %}
        <img src="{{ image.image.url }}" class="card-img-top" alt="{{ item.name }}-image">
        {% endwith %}
    {% elif item.banner %}
        <img src="{{ item.banner.url }}" class="card-img-top" alt="{{ item.name }}-image">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text ">{{ item.description | truncatechars:30 }}</p>
        <p class="card-text text-muted">Ástand: {{ item.condition.name }}</p>
        <p class="card-text text-muted">
            Vöruflokkar:
            {% for category in item.categories.all %}
                {{ category.name }}
            {% endfor %}
        </p>
    </div>
    <div class="card-footer">
        <a  href="{% url 'item:get_item' item.id %}" class="btn btn-primary stretched-link">Nánari upplýsingar</a>
    </div>
</div>