<div class="item-card card text-center h-100">
    <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}-image"></a>
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text ">{{ item.description | truncatechars:30 }}</p>
        <p class="card-text text-muted">Ástand: {{ item.condition.name }}</p>
        <p class="card-text text-muted">
            Vöruflokkar:
            {% for category in item.categories.all %}
                {{ category.name }}
            {% endfor %}
        </p>
    </div>
    <div class="card-footer">
        <a  href="{% url 'item:get_item' item.id %}" class="btn btn-primary stretched-link">Nánari upplýsingar</a>
    </div>
</div>