{% extends 'base.html' %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      {% for item in items %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <img src="{{ item.image_url }}" class="catalog-image d-block w-100" alt="">
             <div class="carousel-caption d-none d-md-block bg-secondary w-50 p-3 mx-auto" style="--bs-bg-opacity: .5;">
               <h5>{{ item.name }}</h5>
               <p>{{ item.description | truncatechars:100 }}</p>
             </div>
            </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span aria-hidden="true"><i class="bi bi-caret-left-fill text-secondary" style="font-size: 2rem;"></i></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span aria-hidden="true"><i class="bi bi-caret-right-fill text-secondary" style="font-size: 2rem;"></i></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="most-views row row-cols-1 row-cols-md-auto g-4">
    {% for item in most_viewed_items %}
        <div class="col mx-auto my-5">
            <img class="catalog-image-views d-block mw-100" src="{{ item.image_url }}" style=" height: 10rem; object-fit: cover; object-position: right top;" alt="{{ item.name }}-image">
            <div class="caption">
               <h5>{{ item.name }}</h5>
               <p>{{ item.views }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}