{% extends 'base.html' %}
{% block content %}
<div id="slideshow" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in items %}
            <button type="button" data-bs-target="#slideshow" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active{% endif %}"></button>
        {% endfor %}
    </div>
  <div class="carousel-inner rounded">
      {% for item in items %}
            <a href="{% url 'item:get_item' item.id %}" class="carousel-item{% if forloop.first %} active{% endif %}">
              <img src="{{ item.banner.url }}" class="catalog-image d-block w-100" alt="{{ item.name }}">
             <div class="carousel-caption d-none d-md-block rounded w-50 p-3 mx-auto">
               <h5>{{ item.name }}</h5>
               <p>{{ item.description | truncatechars:100 }}</p>
             </div>
            </a>
      {% endfor %}
  </div>
  <button class="carousel-control-prev rounded-start" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
    <span aria-hidden="true"><i class="bi bi-chevron-compact-left" style="font-size: 2rem"></i></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next rounded-end" type="button" data-bs-target="#slideshow" data-bs-slide="next">
    <span aria-hidden="true"><i class="bi bi-chevron-compact-right" style="font-size: 2rem"></i></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <h3 class="text-center mt-3 mb-0">Mest skoðað</h3>
<div class="most-views row">
    {% for item in most_viewed_items %}
        <div class="col {% if forloop.last %} d-lg-none d-xxl-block{% endif %}">
            <a href="{% url 'item:get_item' item.id %}" class="card mx-auto my-5 p-0 catalog-image-views img-{{ item.id }}">
                {% if item.image %}
                    <img class="card-img" src="{{ item.image_url }}" alt="{{ item.name }}-image">
                {% elif item.images.all %}
                    {% with item.images.all|first as image %}
                    <img class="card-img" src="{{ image.image.url }}" alt="{{ item.name }}-image">
                    {% endwith %}
                {% endif %}
                <div class="card-img-overlay d-flex flex-column">
                    <div class="mt-auto text-center" style="color: white;">
                        <h5 class="card-title m-0">{{ item.name }}</h5>
                        <p class="card-text m-0">Skoðað: {{ item.views }} sinnum</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}