{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card bg-dark text-light mx-auto h-100" style="width: 56rem;">
<div class="card-header m-0 p-0">
    <img class="card-img-top" src="{{ user_profile.banner_url }}" alt="banner-img">
</div>
    <div class="card-body pt-2">
        <img class="img rounded-pill me-3 profile-img-lg float-start" src="{{ user_profile.image_url }}" alt="">
        <div class="card-second-body ps-2">
            <h3 class="card-title"><strong>{{ user_profile.user.get_full_name }}</strong></h3>
            {% with user_profile as user_profile %}
            {% include 'user/user_rating_hunger_games.html' %}
            {% endwith %}
            <p class="card-text pb-5 pt-2">{{ user_profile.bio }}</p>
        </div>
        {% if request.user == user_profile.user %}
            <div class="btn-group float-end">
            <a href="{% url 'user:update_profile' %}" class="btn btn-primary">Uppfæra upplýsingar</a>
            <a href="{% url 'user:get_all_contacts' %}" class="btn btn-secondary">Heimilisföng</a>
            <a href="{% url 'user:change_password' %}" class="btn btn-primary">Breyta lykilorði</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
