{% extends 'base.html' %}
{% block content %}
<h2>{{ user_profile.user.get_full_name }}</h2>
<img src="{{ user_profile.image_url }}" alt="">
<p>Meðal einkunnin þín: {{ user_profile.avg_rating }}</p>
<p>{{ user_profile.bio }}</p>
{% if request.user == user_profile.user %}
    <a href="{% url 'user:update_profile' %}" class="btn btn-primary">Uppfæra upplýsingar</a>
    <a href="{% url 'user:get_all_contacts' %}" class="btn btn-secondary">Heimilisföng</a>
    <a href="{% url 'user:change_password' %}" class="btn btn-primary">Breyta lykilorði</a>
{% endif %}
{% endblock %}
