{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col col-8 col-md-6 mx-auto">
        <div id="mastercard" class="card">
            <form method="post">
                <div class="card-header">Skrá mig</div>
                <div class="card-body">
                {% csrf_token %}
                {% include 'form.html' %}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Skrá inn">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}