{% extends 'base.html' %}
{% block content %}
    <div class="card mx-auto" style="width: 60%">
        <div class="card-body">
            <form id="update-profile-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="">
                    <div class="">
                        {% include 'form.html' %}
                            <div id="cropper"></div>
                        <input id="submit-update-form" type="submit" class="btn btn-primary" value="Uppfæra">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
