{% extends 'base_card.html' %}
{% block preheader %}
    <form id="update-profile-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
{% endblock %}
{% block postheader %}
    </form>
{% endblock %}
{% block card_header %}Breyta Upplýsingum{% endblock %}
{% block card_body %}
    {% include 'form.html' %}
    <div
            id="cropper"
            data-viewport-width="420"
            data-viewport-height="420"
            data-viewport-type="circle"
            data-boundary-width="512"
            data-boundary-height="512"
    ></div>
{% endblock %}
{% block card_footer %}
    <input id="submit-update-form" type="submit" class="btn btn-primary" value="Uppfæra">
    <button onclick="history.back()" type="button" class="btn btn-primary float-end">Til baka</button>
{% endblock %}
